<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Dashboard3a - Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="validarse" method="post">
		<table>
			<tr>
				<td align="right">Email:</td>
				<td><input type="text" name="email" id="email" required="required"
					placeholder="Email" size="15" /></td>
			</tr>
			<tr>
				<td align="right">Password:</td>
				<td><input type="password" name="password" id="password" required="required"
					placeholder="Password" size="15" /></td>
			</tr>
			<tr>
				<td><input type="submit" id="loginButton" value="Log in" /></td>
			</tr>
		</table>
	</form>
</body>
</html>